---
import BaseLayout from "@layouts/BaseLayout.astro";
import ModalTopBar from "@components/ui/ModalTopBar.astro";
import StickyBar from "@components/sections/StickyBar.astro";

import ResumenPedido from "@checkout/components/ResumenPedido.astro";

import DataForm from "@checkout/components/DataForm.astro";
import NewResumen from "@checkout/components/NewResumen.astro";

const { tenant, head, styles, contact, metodosPago } = Astro.props;

const modo = "checkout";

---

<BaseLayout head={head} styles={styles}>
    <div
        id="datos"
        data-direccionlocal={contact.direccion}
        data-telefono={contact.telefono}
        data-whatsapp={contact.whatsapp}
        hidden
    >
    </div>
    <main id="checkoutMain" class="max-w-125 m-auto flex flex-col gap-8 px-2.5 pb-26">
        <ModalTopBar mode={modo} />
        <DataForm metodosPago={metodosPago}/>
        <NewResumen />
    </main>
    <StickyBar modo={modo} />
</BaseLayout>

<script src="./init.js" />
