---
const { categorias } = Astro.props;

---

<nav id="navMenu" class="category-nav max-w-200 sm:top-0!" aria-label="Categorías del menú">
    <ul class="m-0 flex gap-0">
        {
            categorias.map((categoria: string) => (
                <li class="">
                    {/* <a
                        data-category={categoria}
                        href={`#${categoria}`}
                        data-scroll
                    >
                        {categoria}
                    </a> */}
                    <button
                        data-category={categoria}
                        data-scroll
                    >
                        {categoria}
                    </button>
                    <div class="linea" />
                </li>
            ))
        }
    </ul>
</nav>

<style>
    .category-nav {
        position: sticky;
        top: 0px;
        z-index: 10;
        width: 100vw;
        background-color: var(--color-background);
    }

    .category-nav ul {
        overflow: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        padding: 0.5rem 0rem;
        list-style: none;
    }
    .category-nav ul::-webkit-scrollbar {
        display: none;
    }

    .category-nav button {
        display: block;
        padding: 0.5rem 0.75rem;
        white-space: nowrap;
        text-decoration: none;
    }

    .category-nav button:focus-visible {
        outline: 2px solid #2563eb;
        outline-offset: 2px;
    }
    .category-nav button.active {
        font-weight: 800;
    }

    .linea {
        position: relative;
        height: 3px;
        background-color: var(--color-border);
    }

    .linea-activa:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 3px;
        background-color: var(--color-primary);
        border-radius: 999px;
    }
</style>

<script src="src/scripts/menu/navigation.js"></script>
