---
import { formatFromThousands, cloudinaryUrl } from "@scripts/utils.js";
import Plus from "@assets/plus-svgrepo-com.svg";
import Minus from "@assets/minus-svgrepo-com.svg";

const { menuPorCategoria, modo } = Astro.props;
---

<!-- <CategoryNav categorias={categorias} /> -->
<section id="menu" class="menu w-full max-w-200 px-2.5">
    {
        Object.entries(menuPorCategoria).map(([categoria, items]) => (
            <div class="grupo" id={categoria}>
                <h2 class="mt-6 text-2xl font-bold">{categoria}</h2>
                <ul>
                    {(items as any)
                        .filter((item) => item.activo)
                        .map((item: any) => (
                            <li
                                class="producto"
                                data-nombre={item.nombre}
                                data-precio={item.precio}
                                data-imagen={item.imagen}
                                data-descripcion={item.descripcion}
                                data-image={cloudinaryUrl(item.imagen)}
                            >
                                <article class="flex min-h-25 justify-start gap-2.5 border-b border-(--color-separacion) py-4">
                                    <div class="informacion flex w-full flex-col self-stretch">
                                        <div class="flex justify-between gap-2">
                                            <h3 class="">{item.nombre}</h3>
                                            <p class="mr-2 text-nowrap">
                                                $
                                                {formatFromThousands(
                                                    item.precio,
                                                )}
                                            </p>
                                        </div>
                                        <p class="pr-8 text-sm text-pretty opacity-90">
                                            {item.descripcion}
                                        </p>
                                        {modo != "menu" && (
                                            <div class="controles mt-auto flex w-fit items-center self-end rounded-full bg-(--color-secondary)">
                                                <button
                                                    data-action="add-product"
                                                    class="add-product"
                                                >
                                                    <Plus
                                                        width={25}
                                                        height={25}
                                                        fill="inherit"
                                                    />
                                                </button>
                                                <button
                                                    data-action="remove-product"
                                                    class="remove cerrado"
                                                >
                                                    <Minus
                                                        width={25}
                                                        height={25}
                                                    />
                                                </button>
                                                <output class="cantidad cerrado mx-1">
                                                    0
                                                </output>
                                                <button
                                                    data-action="add-product"
                                                    class="add cerrado"
                                                >
                                                    <Plus
                                                        width={25}
                                                        height={25}
                                                    />
                                                </button>
                                            </div>
                                        )}
                                    </div>
                                    {item.imagen && (
                                        <figure class="order-first aspect-square w-[30%] max-w-40 shrink-0">
                                            <img
                                                src={cloudinaryUrl(item.imagen)}
                                                alt={item.nombre}
                                                data-action="view-image"
                                                class="h-full w-full rounded-xl object-cover"
                                            />
                                        </figure>
                                    )}
                                </article>
                            </li>
                        ))}
                </ul>
            </div>
        ))
    }
</section>

<style>
    @import "tailwindcss";
    .grupo {
        scroll-margin-top: 4rem; /* altura del nav */
    }
    button {
        @apply px-1.5 py-1.5;
    }
</style>
