---
import BaseLayout from "../layouts/BaseLayout.astro";
import Pedidos from "../components/Pedidos.astro";

const { menuPorCategoria, direccion, telefono, titulo, logo } = Astro.props;
---

<BaseLayout>
    <div
        id="datos"
        data-direccionlocal={direccion}
        data-telefono={telefono}
        hidden
    >
    </div>
    <Pedidos
        menuPorCategoria={menuPorCategoria}
        titulo={titulo}
        logo={logo}
        modo="pedido"
    />
</BaseLayout>
