---
import { formatFromThousands, cloudinaryUrl } from "../scripts/utils.js";
import CategoryNav from "./CategoryNav.astro";
import Plus from "../assets/plus-svgrepo-com.svg"
import Minus from "../assets/minus-svgrepo-com.svg"
import ViewImage from "./ViewImage.astro";


const { menuPorCategoria, modo } = Astro.props;
const categorias = Object.keys(menuPorCategoria);
---

<CategoryNav categorias={categorias} />
<section id="menu" class="menu max-w-200 px-2.5 w-full">
    {
        Object.entries(menuPorCategoria).map(([categoria, items]) => (
            <div class="grupo" id={categoria}>
                <h2 class="text-2xl mt-6 font-bold">
                    {categoria}
                </h2>
                <ul>
                    {(items as any)
                        .filter((item) => item.activo)
                        .map((item: any) => (
                            <li
                                class="producto"
                                data-nombre={item.nombre}
                                data-precio={item.precio}
                                data-imagen={item.imagen}
                                data-descripcion={item.descripcion}
                            >
                                <article class="flex justify-start gap-2.5 py-4 border-b border-(--color-separacion) min-h-25">
                                    <div class="informacion w-full flex flex-col self-stretch">
                                        <div class="flex justify-between gap-2">
                                            <h3 class="">
                                                {item.nombre}
                                            </h3>
                                            <p class="text-nowrap mr-2">
                                                $
                                                {formatFromThousands(
                                                    item.precio,
                                                )}
                                            </p>
                                        </div>
                                        <p class="text-sm pr-8 text-pretty opacity-90">
                                            {item.descripcion}
                                        </p>
                                        { modo != "menu" &&
                                        <div class="controles bg-(--color-secondary) rounded-full flex w-fit self-end mt-auto items-center">
                                            <button
                                                class="add-product"
                                                data-action="add"
                                            >
                                                <Plus width={25} height={25} fill="inherit"/>
                                            </button>
                                            <button
                                                class="remove cerrado"
                                                data-action="remove"
                                            >
                                                <Minus width={25} height={25}/>
                                            </button>
                                            <output class="cantidad cerrado mx-1">
                                                0
                                            </output>
                                            <button
                                                class="add cerrado"
                                                data-action="add"
                                            >
                                                <Plus width={25} height={25}/>
                                            </button>
                                        </div>
                                        }
                                    </div>
                                    {item.imagen && 
                                        <figure class="order-first w-[30%] max-w-40 aspect-square shrink-0 ">
                                            <img
                                                src={cloudinaryUrl(item.imagen)}
                                                alt={item.nombre}
                                                data-full={cloudinaryUrl(item.imagen)}
                                                class="w-full h-full object-cover rounded-xl"
                                            />
                                        </figure>
                                    }
                                </article>
                            </li>
                        ))}
                </ul>
            </div>
        ))
    }
</section>
<ViewImage/>

<style>
    @import "tailwindcss";
    .grupo {
        scroll-margin-top: 4rem; /* altura del nav */
    }
    button {
        @apply py-1.5 px-1.5
    }
</style>
