---
import { formatFromThousands, cloudinaryUrl } from "../scripts/utils.js";
import CategoryNav from "./CategoryNav.astro";

const { menuPorCategoria } = Astro.props;
const categorias = Object.keys(menuPorCategoria);
---

<CategoryNav categorias={categorias} />
<section class="menu max-w-200 px-2.5">
    {
        Object.entries(menuPorCategoria).map(([categoria, items]) => (
            <div class="grupo" id={categoria}>
                <h2 class="text-2xl mt-6 font-bold">
                    {categoria}
                </h2>
                <ul>
                    {(items as any)
                        .filter((item) => item.activo)
                        .map((item: any) => (
                            <li
                                class="producto"
                                data-nombre={item.nombre}
                                data-precio={item.precio}
                            >
                                <article class="flex justify-start gap-2.5 py-4 border-b border-white/30">
                                    <div class="informacion w-full flex flex-col self-stretch">
                                        <div class="flex justify-between gap-2">
                                            <h3 class="">
                                                {item.nombre}
                                            </h3>
                                            <p class="text-nowrap mr-2">
                                                $
                                                {formatFromThousands(
                                                    item.precio,
                                                )}
                                            </p>
                                        </div>
                                        <p class="text-sm pr-8 text-pretty opacity-90">
                                            {item.descripcion}
                                        </p>
                                        <div class="controles bg-[#323232] rounded-2xl flex w-fit gap-4 py-1 px-3.5 self-end mt-auto">
                                            <button
                                                class="add-product"
                                                data-action="add"
                                            >
                                                Añadir
                                            </button>
                                            <button
                                                class="remove cerrado"
                                                data-action="remove"
                                            >
                                                −
                                            </button>
                                            <output class="cantidad cerrado">
                                                0
                                            </output>
                                            <button
                                                class="add cerrado"
                                                data-action="add"
                                            >
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <figure class="order-first w-[30%] max-w-40 aspect-square shrink-0 ">
                                        <img
                                            src={cloudinaryUrl(item.imagen)}
                                            alt={item.nombre}
                                            class="w-full object-cover rounded-xl"
                                        />
                                    </figure>
                                </article>
                            </li>
                        ))}
                </ul>
            </div>
        ))
    }
</section>

<style>
    .grupo {
        scroll-margin-top: 4rem; /* altura del nav */
    }
</style>
