---
import { getCldImageUrl } from 'astro-cloudinary/helpers';
import Image from "astro/components/Image.astro";
import GoogleReviewImg from "@assets/google-review2.png";
import RenderStars from "@components/ui/RenderStars.astro";
import Icon from "@components/ui/Icon.astro";

const { userRatingCount, rating, reviewsUrl, reviews } = Astro.props;

//authorName, publishTime, rating, text, authorPhoto, reference
---

<section class="m-auto flex max-w-125 flex-col items-center gap-2 text-sm">
    <a href={reviewsUrl} target="_blank">
        <header id="google-reviews" class="pointer-events-auto mb-2 flex gap-2">
            <Image src={GoogleReviewImg} width={150} alt="google reviews" />
            <h2 class="flex flex-col items-center justify-center gap-0.5">
                <span class="flex items-center text-xl">{rating}</span>
                <span class="flex gap-0.5">
                    <RenderStars rating={rating} width="10" height="10" />
                </span>
                <span class="opacity-90"> {userRatingCount} reseñas</span>
            </h2>
        </header>
    </a>
    {
        reviews.map((review: any, i) => (
            <article class="flex w-full flex-col gap-2 border-b border-b-(--color-separacion) px-3 py-4">
                <header class="flex gap-2">
                    <img
                        src={getCldImageUrl({ src: review.authorPhoto, width: 64, height: 64 })}
                        width="32"
                        height="32"
                        loading="lazy"
                        class="h-fit"
                        alt={`Foto de perfil de ${review.authorName}`}
                    />
                    <p class="flex flex-col">
                        <span>{review.authorName}</span>
                        <time
                            datetime={review.publishTime}
                            data-time={review.publishTime}
                            class="text-xs opacity-80"
                        >
                            {review.publishTime}
                        </time>
                    </p>
                    <div
                        role="img"
                        aria-label={`Calificación ${review.rating} de 5`}
                        class="stars ms-auto flex gap-0.5"
                    >
                        <RenderStars rating={review.rating} />
                    </div>
                </header>

                <p class="line-clamp-3 leading-relaxed text-pretty" data-clamp>
                    {review.text}
                </p>

                <button
                    type="button"
                    class="w-fit self-end font-medium opacity-80"
                    data-toggle
                    hidden
                    aria-expanded="false"
                >
                    Ver más
                </button>
            </article>
        ))
    }
    <a
        href={reviewsUrl}
        target="_blank"
        class="mt-5 rounded-full bg-(--color-secondary) px-4 py-3 flex items-center active:opacity-80"
    >
        Ver todas las reseñas
        <Icon name="external" width={15} height={15} class:list={"inline opacity-80"}/>
    </a
    >
</section>

<script src="../../scripts/reviews/reviews.js" />
