---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "@layoutsFooter.astro";

import Logo from "@components/ui/Logo.astro";
import Menu from "@pedido/sections/Menu.astro";
import CategoryNav from "@pedido/sections/CategoryNav.astro";
import ImageViewer from "@components/sections/ImageViewer.astro";
import StickyBar from "@components/sections/StickyBar.astro";
import Badges from "@pedido/components/Badges.astro";
import HeaderRouter from "@src/routers/HeaderRouter.astro";
import Header from "@components/headers/Header.astro";

const { tenant, head, styles, header, contact, badges, logo, menu, categorias, footer } = Astro.props;

const modo = "menu";
---

<BaseLayout head={head} styles={styles}>
    <HeaderRouter tenant={tenant} header={header} page="menu"/>
    <main class="flex flex-col items-center justify-center mb-26">
        <Badges {...badges} />
        <h1 class="invisible h-0">Menú</h1>
        <CategoryNav categorias={categorias} />
        <Menu menuPorCategoria={menu} modo={modo} />
        <ImageViewer />
        <StickyBar modo={modo} />
    </main>
</BaseLayout>

<script src="../../scripts/menu/viewimg.js" />

<style is:global>
    .cerrado {
        display: none !important;
    }
    .ocultar {
        visibility: hidden;
    }
</style>
