---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "@layoutsFooter.astro";

import Logo from "@components/ui/Logo.astro";
import Menu from "@components/sections/Menu.astro";
import CategoryNav from "@components/sections/CategoryNav.astro";
import ImageViewer from "@components/sections/ImageViewer.astro";
import StickyBar from "@components/sections/StickyBar.astro";
import Badges from "@components/ui/Badges.astro";
import Header from "@components/headers/Header.astro";

const { head, header, contact, badges, logo, menu, categorias, footer } = Astro.props;
const modo = "menu";
---

<BaseLayout head={head}>
    <Header {...header} />
    <main class="flex flex-col items-center justify-center">
        <Badges {...badges} />
        <h1 class="invisible h-0">Menú</h1>
        <CategoryNav categorias={categorias} />
        <Menu menuPorCategoria={menu} modo={modo} />
        <ImageViewer />
        <StickyBar modo={modo} />
    </main>
    <Footer {...footer} class:list={"pb-26"}/>
</BaseLayout>

<script src="../../scripts/menu/viewimg.js" />

<style is:global>
    .cerrado {
        display: none !important;
    }
    .ocultar {
        visibility: hidden;
    }
</style>
