---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "@layoutsFooter.astro";

import Logo from "@components/ui/Logo.astro";
import Menu from "@components/sections/Menu.astro";
import CategoryNav from "@components/sections/CategoryNav.astro";
import ViewImage from "@components/sections/ViewImage.astro";
import StickyBar from "@components/sections/StickyBar.astro";
import Badges from "@components/ui/Badges.astro";
import Header from "@layoutsHeader.astro";

const { head, header, contact, badges, logo, menu, categorias, footer } = Astro.props;
const modo = "menu";
---

<BaseLayout head={head}>
    <div
        id="datos"
        data-direccionlocal={contact.direccion}
        data-telefono={contact.telefono}
        hidden
    >
    </div>
    <Header {...header} />
    <div class="flex flex-col items-center justify-center py-12">
        <Badges {...badges} />
        <h1 class="invisible h-0">Menú</h1>
        <CategoryNav categorias={categorias} />
        <Menu menuPorCategoria={menu} modo={modo} />
        <ViewImage />
        <StickyBar modo={modo} />
    </div>
    <Footer {...footer} class:list={"pb-26"}/>
</BaseLayout>

<script is:inline src="/viewimg.js" defer></script>

<style is:global>
    .cerrado {
        display: none !important;
    }
    .ocultar {
        visibility: hidden;
    }
</style>
