---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "@layoutsFooter.astro";

import Logo from "@components/ui/Logo.astro";
import Menu from "@components/sections/Menu.astro";
import CategoryNav from "@components/sections/CategoryNav.astro";
import ViewImage from "@components/sections/ViewImage.astro";
import StickyBar from "@components/StickyBar.astro";
import Modal from "@components/Modal.astro";
import TipoEntrega from "@components/TipoEntrega.astro";

const { head, contact, logo, menu, categorias, footer } = Astro.props;
const modo = "pedido";
---

<BaseLayout head={head}>
    <div
        id="datos"
        data-direccionlocal={contact.direccion}
        data-telefono={contact.telefono}
        hidden
    >
    </div>
    <div class="flex justify-center items-center flex-col py-12">
        <Logo {...logo} />
        <h1 class="invisible">Menú</h1>
        <CategoryNav categorias={categorias} />
        <Menu menuPorCategoria={menu} modo={modo} />
        <ViewImage />
        <StickyBar modo={modo}/>
        <Modal>
            <TipoEntrega direccion={contact.direccion} />
        </Modal>
    </div>
    <Footer {...footer} />
</BaseLayout>

<script type="module">
    import { init } from "/scripts/init.js";
    init();
</script>

<style is:global>
    .cerrado {
        display: none !important;
    }
    .ocultar {
        visibility: hidden;
    }
</style>
