---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "@layoutsFooter.astro";
import Menu from "@components/sections/Menu.astro";
import CategoryNav from "@components/sections/CategoryNav.astro";
import ImageViewer from "@components/sections/ImageViewer.astro";
import StickyBar from "@components/sections/StickyBar.astro";
import Modal from "@components/sections/Modal.astro";
import Header from "@layoutsHeader.astro";
import Badges from "@components/ui/Badges.astro";

const { head, header, badges, contact, logo, menu, categorias, footer } = Astro.props;
const modo = "pedido";

---

<BaseLayout head={head}>
    <div
        id="datos"
        data-direccionlocal={contact.direccion}
        data-telefono={contact.telefono}
        hidden
    >
    </div>
    <Header {...header} />
    <main class="flex flex-col items-center justify-center">
        <Badges {...badges} />
        <h1 class="invisible h-0">Menú</h1>
        <CategoryNav categorias={categorias} />
        <Menu menuPorCategoria={menu} modo={modo} />
        <ImageViewer />
        <StickyBar modo={modo} />
        <Modal />
    </main>
    <Footer {...footer} class:list={"pb-26"}/>
</BaseLayout>

<script src="../../scripts/menu/viewimg.js" />
<script src="../../scripts/order/init.js"></script>

<style is:global>
    .cerrado {
        display: none !important;
    }
    .ocultar {
        visibility: hidden;
    }
    /* En tu CSS */
</style>
