---
import Icon from "@components/ui/Icon.astro";
import Logo from "@components/ui/Logo.astro";

const { titulo, descripcion, logo, botones, socials } = Astro.props;

---

<header
    class="flex flex-col max-w-100 items-center pt-20 px-8 m-auto gap-4 rounded-lg text-(--index-text)"
>

    <Logo {...logo} />
    <h1 class="text-xl font-semibold">{titulo}</h1>
    <nav class="w-full">
        <ul class="flex flex-col justify-center gap-2">
            {
                botones.map((boton) => (
                    <li>
                        <a
                            href={boton.url}
                            rel="noopener noreferrer"
                            class="rounded-lg bg-(--index-buttons) px-3 py-4 w-full block text-center text-(--index-buttons-text)"
                        >
                            {boton.valor}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
    <div class="social flex gap-2">
        {
            socials.map((social) => (
                <a
                    href={social.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={social.valor}
                    class="text-(--index-text)/60"
                >
                    {<Icon name={social.valor} height="40" width="40" />}
                </a>
            ))
        }
    </div>
</header>
