---
const { titulo, descripcion, logo, banner, styles } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{titulo}</title>
    <link rel="canonical" href={canonicalURL.href} />
    <link rel="preconnect" href="//res.cloudinary.com" />
    <link rel="dns-prefetch" href="//res.cloudinary.com">
    {styles?.fonts?.preload?.map((font) => (
        <link
            rel="preload"
            as="font"
            href={font.href}
            type={font.type}
            crossorigin={font.crossOrigin}
        />
    ))}
    {logo && <link rel="preload" as="image" href={logo} />}
    {banner && <link rel="preload" as="image" href={banner} />}
    <link rel="icon" href={logo} />
    <meta name="description" content={descripcion} />
    <meta name="robots" content="index, follow" />
    <meta name="og:image" content={logo} />
    <meta name="og:title" content={titulo} />
    <meta name="og:description" content={descripcion} />
    <meta name="og:url" content={canonicalURL.href} />
    <meta name="og:site_name" content={titulo} />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_CO" />

</head>
